{% include 'includes/header.html' %}
{% load static%}
<main class="main">
   <div class="container form-content">
      <div class="detail-content">

         <h2>Iniciar Sesión</h2>
         <form action="{% url 'login' %}" method="POST" class="form">
            {% csrf_token %}
            <div class="campo">  
               <label for="txtUsuario">Usuario</label> 
               <input type="text" id="txtUsuario" name="user">
            </div>
            <div class="campo">
               <label for="txtContrasena">Contraseña</label>
               <input type="password" id="txtContrasena" name="password">
            </div>
            <div class="buttons">
               <a  href="{% url 'home'%}" class="btn-form btn-red">cancelar</a>
               <button type="submit" class="btn-form btn-green">Ingresar</button>
            </div>
            {% if mensaje%}
               <div class="msg">
                  {{mensaje}}
               </div>
            {% endif %}
            <!-- <table class="detail-table">
               <tr class="detail-info">
                  <td>Usuario</td>
                  <td><input type="text" id="txtUsuario"></td>
               </tr>
               <tr class="detail-info">
                  <td>Contraseña</td>
                  <td><input type="password" id="txtContrasena"></td>
               </tr>
               <tr class="detail-info">
                  <td colspan="2"><span id="lblMensaje"></span></td>
               </tr>
               <tr class="detail-info">
                  <td colspan="2"><button type="submit" class="btn">Ingresar</button></td>
               </tr>
            </table> -->
         </form>
      </div>
   </div>
</main>

{% include 'includes/footer.html' %}