{% load static %} 
{% include 'includes/header.html'%}
    <main class="main">
        <div class="container">
            <div class="productlist">
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/alicate.jpg' %}" alt="">
                    </div>
                    <p class="product-name">Alicate</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="1">
                        Agregar al carrito
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/amoladora.jpg' %}" alt="">
                    </div>
                    <p class="product-name">Amoladora</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="2">
                        Agregar al carrito
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/casco.jpg' %}" alt="">
                    </div>
                    <p class="product-name">Casco</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="3">
                        Agregar al carrito
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/clavos.jpg' %}" alt="">
                    </div>
                    <p class="product-name">Clavos</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="4">
                        Agregar al carrito
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/disco-corte.jpg' %}" alt="">
                    </div>
                    <p class="product-name">Disco de corte</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="5">
                        Agregar al carrito
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/foco.webp' %}" alt="">
                    </div>
                    <p class="product-name">Foco Philips</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="6">
                        Agregar al carrito
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/linterna.jpg' %}" alt="">
                    </div>
                    <p class="product-name">Linterna</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="7">
                        Agregar al carrito
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="{% static 'img/llave-inglesa.jpg' %}" alt="">
                    </div>
                    <p class="product-name">Llave inglesa</p>
                    <p class="product-price">$400</p>
                    <div class="add-cart button" data-id="8">
                        Agregar al carrito
                    </div>
                </div>
            
                
            </div><!--Produclist-->
        </div><!--Container-->
    </main>
{% include 'includes/footer.html'%}